<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Json parsing UITableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5456B3871F31F130001279BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5456B39B1F31F131001279BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5456B3A61F31F131001279BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
